@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: black;
  background: url("../assets/img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.grid {
  width: 100%;
  margin: 32px auto;
  max-width: 1600px;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 80px 1fr 80px;
  &__item-left {
    position: sticky; // See link
    top: 0; //to make it stick to the top of the screen
    height: 10vh; // make the height equal to 100 view height
  }
  &__item-right {
    position: sticky; // See link
    top: 0; //to make it stick to the top of the screen
    height: 10vh; // make the height equal to 100 view height
  }
  &__item-center {
  }
}

.site-header {
  z-index: 0;
}


.top-section {
  text-align: center;
}
