@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:700&display=swap&subset=latin-ext");
$button-height: 27px;
$button-width: 35px;
$color-background: #f5f5f5;
$color-main: #1c448e;
$color-active: #fff;
$color-link: #fff;

@mixin title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  font-size: 40px;
  color: #1c448e;
  opacity: 0.8;
}

@mixin section($margin) {
  width: 70%;
  margin: 0px auto;
  max-width: 1600px;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  opacity: 1;
  margin-top: 200px;
  @media (max-width: 700px) {
    width: 80%;
    grid-template-columns: 1fr;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
    margin-bottom: 100px;
    margin-top: $margin;
  }
  @media (min-width: 701px) {
    width: 70%;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
    margin-top: $margin;
  }
  @media (min-width: 900px) {
    margin-top: $margin;
  }
  &__left {
    order: 1;
    width: 1fr;
    @media (max-width: 700px) {
      order: 1;
    }
  }
  &__right {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 700px) {
      order: 1;
    }
  }
}

@mixin menuItem {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  width: 80px;
  line-height: 14px;
  opacity: 0;
  @media (max-width: 1024px) {
    padding: 8px;
    width: 100%;
  }
}

@mixin sideMenuItem {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  width: 80px;
  height: 30px;
  line-height: 14px;
  margin-top: 10px;
  text-align: right;
  @media (max-width: 1024px) {
    padding: 8px;
    width: 100%;
  }
}

@keyframes rotateHr {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes changeArrowPosition {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes changeXposition {
  0% {
    transform: translateX(20px);
  }
  25% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes menuOpacity {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.apple-section {
  width: 90%;
  margin: 0 auto;
  max-width: 1600px;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  margin-top: 200px;
  opacity: 1;
  &__img {
    width: 90%;
    border: 5px solid #1c448e;
    border-radius: 5px;
  }
  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__right {
    width: 1fr;
  }
  &__title {
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 1px;
  }
  @media (max-width: 700px) {
    width: 80%;
    grid-template-columns: 1fr;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: 200px;
    margin-bottom: 100px;
  }
  @media (min-width: 701px) {
    width: 70%;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
  }
}

i.material-icons {
  font-size: 200px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: url("../assets/img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #333;
  font-family: "Lato", sans-serif;
  transition: background-color 1s ease;
  @media (max-width: 1024px) {
    background-size: contain;
    background-repeat: repeat-x;
  }
}

.footer {
  width: 70%;
  margin: 0px auto;
  max-width: 1600px;
  text-align: center;
  margin-top: 200px;
  @media (max-width: 1024px) {
    margin: 0px auto;
    width: 80%;
    margin-top: 200px;
  }
  &__paragraph {
    text-align: center;
    @media (max-width: 1024px) {
      padding-bottom: 8px;
      grid-template-columns: 1fr;
      font-size: 20px;
    }
  }
  &__section {
    padding-bottom: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 1024px) {
      padding-bottom: 8px;
      grid-template-columns: 1fr;
      font-size: 20px;
    }
  }
  &__subtitle {
    text-align: center;
    font-weight: bold;
  }
  &__title {
    padding-bottom: 32px;
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.hr-class {
  width: 2px;
  min-height: 50vh;
  background: black;
  border: none;
  animation: rotateHr 2s ease-in-out infinite;
}

.knowledge-section {
  width: 70%;
  margin: 0 auto;
  margin-top: 128px;
  &__fact {
    margin-bottom: 16px;
    width: 100%;
    height: 50px;
    padding: 13px;
    text-align: center;
  }
  &__galerry {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
  }
  &__box {
    border: 1px solid black;
    margin: 8px;
  }
  &__galerry-img {
    max-width: 100%;
  }
  &__galerry-title {
    text-align: center;
  }
  &__img {
    width: 80%;
    margin: 0 auto;
  }
  &__img--left {
    float: left;
    width: 200px;
    height: 200px;
    margin: 16px;
  }
  &__img--right {
    float: right;
    width: 200px;
    height: 200px;
    margin: 16px;
  }
  &__paragraph {
    line-height: 25px;
  }
  &__title {
    font-size: 40px;
  }
}

.main {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
}

.left-margin {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0px; //to make it stick to the top of the screen
  @media (max-width: 1024px) {
    visibility: hidden;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__logo {
    opacity: 0;
    animation: menuOpacity 1s ease-in-out 1;
    animation-delay: 0.4s;
    animation-fill-mode: forwards; //save last animation state
  }
  &__paragraph-up {
    margin-left: 30px;
    margin-top: 50px;
    transform: rotate(270deg);
    color: #1c448e;
  }
  &__paragraph-down {
    margin-left: 60px;
    margin-bottom: 50px;
  }
  &__social-link {
    color: #1c448e;
    opacity: 0;
    animation: menuOpacity 1s ease-in-out 1;
    animation-delay: 0.2s;
    animation-fill-mode: forwards; //save last animation state
  }
}

.material-icons {
  font-size: 144px;
  text-align: center;
  color: #1c448e;
}

.movie-section {
  @media (max-width: 700px) {
    margin-bottom: 100px;
  }
  @media (min-width: 701px) {
    margin-bottom: 100px;
  }
  &__iframe {
    margin: 0 auto;
    width: 60%;
    border: 5px solid white;
    border-radius: 5px;
  }
  &__title {
    margin-top: 200px;
    text-align: center;
    margin-bottom: 100px;
  }
}

iframe {
  display: flex;
  justify-items: center;
}

.navigation {
  @media (max-width: 1024px) {
    z-index: 99;
  }
  width: 100%;
  overflow: hidden;
  margin-top: 70px;
  z-index: 100;
  transition: all 1s;
  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      display: none;
    }
    &--visible {
      @media (max-width: 1024px) {
        display: flex;
      }
    }
  }
  &__contact-button {
    position: fixed;
    top: 50px;
    right: 16px;
    width: 150px;
    height: 60px;
    background-color: transparent;
    border: 1px solid #1c448e;
    background-image: linear-gradient(to top, #1c448e 50%, transparent 50%);
    background-clip: text, padding-box;
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 0.2s ease-in-out;
    opacity: 0;
    z-index: 100;
    @media (max-width: 1024px) {
      top: 10px;
      left: 16px;
      width: 150px;
      height: 60px;
      background-image: linear-gradient(to top, #ab3428 50%, transparent 50%);
    }
    &:hover {
      background-position: bottom;
      cursor: pointer;
      color: white;
    }
    &:focus {
      outline: 0;
    }
    animation: menuOpacity 1s ease-in-out 1;
    animation-delay: 1.4s;
    animation-fill-mode: forwards; //save last animation state
  }
  &__item-1 {
    @include menuItem;
    animation: menuOpacity 1s ease-in-out 1;
    animation-delay: 0.6s;
    animation-fill-mode: forwards; //save last animation state
  }
  &__item-2 {
    @include menuItem;
    animation: menuOpacity 1s ease-in-out 1;
    animation-delay: 0.8s;
    animation-fill-mode: forwards; //save last animation state
  }
  &__item-3 {
    @include menuItem;
    animation: menuOpacity 1s ease-in-out 1;
    animation-delay: 1s;
    animation-fill-mode: forwards; //save last animation state
  }
  &__item-4 {
    @include menuItem;
    animation: menuOpacity 1s ease-in-out 1;
    animation-delay: 1.2s;
    animation-fill-mode: forwards; //save last animation state
  }
  &__link {
    text-decoration: none;
    color: black;
    &::after {
      margin-top: 10px;
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: #1c448e;
      transition: width 0.3s;
    }
    &:hover::after {
      width: 100%;
    }
  }
  &__switcher {
    @media (max-width: 1024px) {
      border: none;
      background: none;
      position: absolute;
      top: 4px;
      right: 8px;
      z-index: 100;
    }
    @media (min-width: 1025px) {
      display: none;
    }
  }
}

.right-margin {
  height: 100%;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  top: 0;
  right: 0;
  @media (max-width: 1024px) {
    display: none;
  }
  &__content {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    animation: menuOpacity 1s ease-in-out 1;
    animation-delay: 1.6s;
    animation-fill-mode: forwards; //save last animation state
  }
  &__logo {
    margin-top: 20px;
    margin-right: 21px;
    color: #1c448e;
  }
  &__paragraph-down {
    z-index: 100;
    animation: changeArrowPosition 1.5s ease-in-out infinite;
  }
  &__social {
    margin-right: 20px;
    margin-bottom: 35px;
  }
  &__social-link {
    text-decoration: none;
    color: #1c448e;
  }
}

.service-section {
  @include section(200px);
}

.service-section2 {
  @include section(100px);
}

.side-navigation {
  position: fixed;
  top: 110px;
  right: 5px;
  z-index: 100;
  opacity: 0.5;
  @media (max-width: 1024px) {
    display: none;
  }
  &__item-1 {
    @include sideMenuItem;
    transition: all 0.6s;
  }
  &__item-2 {
    @include sideMenuItem;
    transition: all 0.8s;
  }
  &__item-3 {
    @include sideMenuItem;
    transition: all 1.2s;
  }
  &__item-4 {
    @include sideMenuItem;
    transition: all 1.6s;
  }
  &__link {
    color: black;
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;
    transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
    &::before {
      content: "";
      position: absolute;
      left: 0px;
      bottom: 0px;
      z-index: -1;
      width: 0%;
      height: 1px;
      background: black;
      box-shadow: inset 0px 0px 0px black;
      display: block;
      transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
    }
    &:hover::before {
      width: 100%;
    }
    &::after {
      content: "";
      position: absolute;
      right: 0px;
      top: 0px;
      z-index: -1;
      width: 0%;
      height: 1px;
      background: black;
      transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
    }
    &:hover::after {
      width: 100%;
    }
    &:hover {
      border-left: 1px solid black;
      border-right: 1px solid black;
    }
  }
  &__list {
    list-style: none;
  }
}

.site-header {
  z-index: 0;
}

.shop-section {
  width: 80%;
  margin: 0 auto;
  max-width: 1600px;
  margin-top: 200px;
  opacity: 1;
  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 128px;
    @media (max-width: 700px) {
      grid-template-columns: 1fr;
    }
  }
  &__icon--left {
    display: flex;
    justify-content: center;
    order: 1;
    margin: 0 auto;
    width: 50%;
    opacity: 0.8;
    @media (max-width: 700px) {
      margin-bottom: 64px;
    }
  }
  &__image {
    width: 100%;
    background: white;
  }
  &__info {
    text-align: center;
    background: white;
    margin: 0 auto;
    padding: 8px;
  }
  &__list {
    background: white;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  &__svg {
    width: 150px;
  }
  &__title--right {
    @include title;
    order: 2;
  }
  &__title--left {
    @include title;
    order: 1;
    @media (max-width: 700px) {
      order: 2;
    }
  }
  &__row {
    padding-bottom: 32px;
    display: grid;
    grid-column-gap: 16px;
    @media (max-width: 700px) {
      grid-template-columns: 1fr;
    }
    @media (min-width: 701px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 900px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &__product {
    border: 1px solid #1c448e;
    margin-bottom: 80px;
    transition: transform 0.5s linear;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__subtitle {
    margin: 0 auto;
    text-align: center;
    background: #1c448e;
    color: white;
    padding: 8px;
    opacity: 0.8;
  }
}

.scrollUp {
  transform: translateY(-100px);
}

.snake {
  opacity: 0;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  transform: scale(0.3);
  animation: menuOpacity 1s ease-in-out 1;
  animation-delay: 1.8s;
  animation-fill-mode: forwards; //save last animation state
  &__svg {
    animation: changeXposition 0.7s ease-in-out 1;
    animation-delay: 2s;
    animation-fill-mode: forwards; //save last animation state
  }
  @media (max-width: 700px) {
    margin-bottom: 100px;
  }
  @media (min-width: 701px) {
    margin-bottom: 200px;
  }
}

.section-js {
  width: 100%;
  min-height: 100vh;
}

.top-section {
  text-align: center;
  margin-top: 70px;
  @media (max-width: 1024px) {
    padding: 32px;
    margin-top: 1px;
  }

  &__button {
    opacity: 0;
    margin-top: 32px;
    width: 170px;
    height: 60px;
    background-color: transparent;
    border: 1px solid #1c448e;
    background-image: linear-gradient(to top, #1c448e 50%, transparent 50%);
    background-clip: text, padding-box;
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 0.2s ease-in-out;
    animation: menuOpacity 1s ease-in-out 1;
    animation-delay: 1.6s;
    animation-fill-mode: forwards; //save last animation state
    &:focus {
      outline: 0;
    }
    &:hover {
      background-position: bottom;
      cursor: pointer;
      color: white;
    }
  }
  &__paragraph {
    opacity: 0;
    margin: 0 auto;
    max-width: 500px;
    font-size: 20px;
    animation: menuOpacity 1s ease-in-out 1;
    animation-delay: 1.4s;
    animation-fill-mode: forwards; //save last animation state
    @media (max-width: 1024px) {
      font-size: 20px;
      line-height: 30px;
    }
    @media (min-width: 1025px) {
      max-width: 700px;
    }
  }
  &__subtitle {
    opacity: 0;
    font-family: "Roboto Slab", serif;
    font-size: 40px;
    animation: menuOpacity 1s ease-in-out 1;
    animation-delay: 1.2s;
    animation-fill-mode: forwards; //save last animation state
  }
  &__title {
    opacity: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    animation: menuOpacity 1s ease-in-out 1;
    animation-delay: 1.4s;
    animation-fill-mode: forwards; //save last animation state
  }
}

.transport-section {
  width: 70%;
  margin: 0px auto;
  max-width: 1600px;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  opacity: 1;
  margin-top: 200px;
  @media (max-width: 700px) {
    width: 80%;
    grid-template-columns: 1fr;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
  }
  @media (min-width: 701px) {
    width: 70%;
    grid-template-columns: 1fr 1fr;
  }
  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__right {
    width: 1fr;
  }
}

/* colours */
.color-gray {
  background-color: #b5ca8d;
  color: black;
}
.text-gray {
  color: #1c448e;
}

.background-gray {
  background: #1c448e;
}

.color-yellow {
  background-color: white;
  color: black;
}
.text-yellow {
  color: #1c448e;
}

.background-yellow {
  background: #1c448e;
}

.color-blue {
  background-color: #1c448e;
  color: white;
}
.text-blue {
  color: white;
}
.background-blue {
  color: white;
}

.background-blue {
  background: white;
}

.color-dark {
  background-color: #343434;
  color: white;
}
.text-dark {
  color: white;
}

.background-dark {
  background: white;
}

.color-white {
  background-color: white;
}

.color-orange {
  background-color: #f19031;
}
.color-red {
  background-color: #f2293a;
}

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 101;
  transition: opacity 0.25s ease;
  display: none;
  @media (max-width: 1024px) {
    display: inline;
  }
  &:hover {
    opacity: 0.7;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }

  span {
    background: black;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  position: fixed;
  background: $color-main;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  z-index: 80;
  &.open {
    opacity: 0.9;
    visibility: visible;
    height: 100%;

    li {
      animation: fadeInRight 0.5s ease forwards;
      animation-delay: 0.35s;

      &:nth-of-type(2) {
        animation-delay: 0.4s;
      }
      &:nth-of-type(3) {
        animation-delay: 0.45s;
      }
      &:nth-of-type(4) {
        animation-delay: 0.5s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: "Vollkorn", serif;
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;

      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;

        &:hover:after,
        &:focus:after,
        &:active:after {
          width: 100%;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $color-link;
          transition: 0.35s;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, width 0.35s;
  z-index: 50;

  &:before {
    content: "";
    background: #1c448e;
    left: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: left 0.35s ease;
  }

  &:after {
    content: "";
    background: #ab3428;
    right: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: all 0.35s ease;
  }

  &.open {
    opacity: 0.9;
    visibility: visible;
    height: 100%;

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }

    .overlay2__block {
      animation: fadeInRight2 0.5s ease forwards;
      animation-delay: 0.35s;

      &:nth-of-type(2) {
        animation-delay: 0.45s;
      }
      &:nth-of-type(3) {
        animation-delay: 0.55s;
      }
      &:nth-of-type(4) {
        animation-delay: 0.65s;
      }
    }
  }
  &__section {
    display: grid;
    position: relative;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    z-index: 100;
    margin-top: 32px;
    @media (max-width: 1024px) {
      margin-top: 80px;
    }
  }
  &__text {
    @media (min-width: 320px) {
      /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
      order: 1;
    }
    @media (min-width: 480px) {
      /* smartphones, Android phones, landscape iPhone */
      order: 2;
    }
    @media (min-width: 600px) {
      /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    }
    @media (min-width: 801px) {
      /* tablet, landscape iPad, lo-res laptops ands desktops */
      order: 1;
    }
    @media (min-width: 1025px) {
      /* big landscape tablets, laptops, and desktops */
      order: 1;
    }
    @media (min-width: 1281px) {
      /* hi-res laptops and desktops */
      order: 1;
    }
  }
  &__map {
    @media (min-width: 320px) {
      /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
      order: 2;
    }
    @media (min-width: 480px) {
      /* smartphones, Android phones, landscape iPhone */
      width: 100%;
      order: 1;
    }
    @media (min-width: 600px) {
      /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    }
    @media (min-width: 801px) {
      /* tablet, landscape iPad, lo-res laptops ands desktops */
      order: 2;
    }
    @media (min-width: 1025px) {
      /* big landscape tablets, laptops, and desktops */
      order: 2;
    }
    @media (min-width: 1281px) {
      /* hi-res laptops and desktops */
      order: 2;
    }
  }
  &__at {
    width: 30px;
    @media (max-width: 1024px) {
      width: 20px;
    }
  }

  &__block {
    color: white;
    display: block;
    font-size: 30px;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;

    @media (max-width: 1024px) {
      font-size: 20px;
    }
    a {
      color: white;
      border-bottom: 1px solid white;
    }
  }
  &__block--css {
    margin-bottom: 32px;
  }
}

@keyframes fadeInRight2 {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

#overlay3 {
  background: rgba(28, 68, 142, 0.8);
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
#overlay3 img {
  @media (min-width: 320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    margin-top: 50%;
    width: 400px;
    height: 300px;
  }
  @media (min-width: 600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    margin-top: 1%;
    width: 400px;
    height: 300px;
  }
  @media (min-width: 801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    margin-top: 3%;
    width: 800px;
    height: 600px;
  }
}
